.container {
  height: 100vh;
  position: relative;
}

.code_container {
  min-height: calc(100vh - 100px);
}

pre {
  margin: 0;
}

input {
  outline: none;
  height: 0;
  border: 0;
  padding: 0;
}

.utils_container {
  margin: auto;
  height: 100px;
  clear: both;
}

h3 {
  margin: 0;
}
